@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'sans abitare';
  src: url('/fonts/Sans.ttf') format('ttf');
}
*{
  font-family: 'sans abitare', sans-serif;
}

.button{
  padding: 4px 16px;
  border-radius: 15px;
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.bg-white{
  background-color: white;
}

.text-black{
  color: black;
}

.form-control {
  background-color: white;
}