.main-color {
  color: rgb(73, 49, 89);
}
:root {
  --primary-color: rgb(73, 49, 89);
  --success-color: rgb(172, 215, 118);
  --pending-color: rgb(240, 170, 88);
  --neutral-color: rgb(222, 222, 222);
}

.matricula-registro-container {
  width: 80%;
  font-family: sans-serif;
  margin: 10px auto;
}

h1 {
  color: #493159;
}

.inputs {
  margin: 20px 0;
  display: flex;
}

.analisar {
  color: var(--neutral-color);
}

.pendente {
  color: var(--pending-color);
}

.matriculado {
  color: var(--success-color);
}

.primary-color {
  color: var(--primary-color);
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th {
  color: var(--primary-color);
}

.table th,
.table td {
  padding: 0.4rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 15%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 40%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 50%;
  text-align: right;
}

.table thead tr {
  border-bottom: 3px solid var(--primary-color);
}
