body {
    font-family: 'Arial', sans-serif;
}

.calendar-grid {
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-day {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.calendar-day.highlight {
    background-color: #d4edda;
}

.calendar-day.today {
    background-color: #5e4b8b;
    color: white;
}

.text-pink {
    color: #f78fb3;
}
.mt-4 {
    /*background-color: #f5f5f5;*/
}